body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.todo-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #eee;
}

.todo-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 15px 35px;
  margin-bottom: 10px;
  box-shadow: 1px 1px 10px -3px rgba(0,0,0,0.3);
  border-radius: 10px;
  transition: ease all .3s;
}

.todo-item:hover {
  transform: scale(1.05);
}

.todo-close {
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 10px;
  padding: 5px 10px;
}

.todo-close:hover {
  background-color: rgba(255,0,0,0.2);
  outline: none;
}

.todo-item-add {
  padding: 10px;
}

.todo-item-add input {
  padding: 10px;
}
